.cardsGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 80px;
    height: 100%;
    background-color: var(--color-gray2);
}

.cardsGroup .card1,
.cardsGroup .card3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "text img";
    border-radius: 50px;
    background-color: #fff;
    margin: 20px 0;
    max-height: 1300px;
}

.cardsGroup .card2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "img text";
    border-radius: 50px;
    background-color: #fff;
    margin: 20px 0;
    max-height: 1300px;
}

.cardsGroup .text {
    grid-area: text;
    padding: 20px 20px 20px 50px;
    margin: auto 0;
    max-width: 500px;
}

.card2 .text {
    padding: 20px 50px 20px 20px;
}

.cardsGroup .text h2 {
    color: var(--color-green);
}

.cardsGroup .text p {
    font: 16px 'Noto Sans JP';
}

.cardsGroup button {
    background-color: var(--color-green);
    color: #fff;
    border: none;
    padding: 5px 15px;
    border-radius: 20px;
    margin: 20px 10px;
}
.cardsGroup button a {
    color: #fff;
    text-decoration: none;
}
.cardsGroup button strong {
    font-size: 20px;
    padding: 15px 25px;
}

.cardsGroup button:hover {
    transform: scale(1.04);
}

.cardsGroup .img {
    grid-area: img;
}

.cardsGroup .card1 .img img,
.cardsGroup .card3 .img img {
    border-radius: 0 50px 50px 0;
    width: 600px;
    height: 100%;
}

.cardsGroup .card2 .img img {
    border-radius: 50px 0 0 50px;
    width: 600px;
    height: 100%;
}

@media (max-width: 1100px) {
    .cardsGroup {
        padding: 20px 40px;
    }

    .cardsGroup .text {
        grid-area: text;
        padding: 10px 10px 10px 25px;
    }

    .card2 .text {
        padding: 10px 25px 10px 10px;
    }

    .cardsGroup .text h2 {
        font-size: 20px;
        color: var(--color-green);
    }

    .cardsGroup .text p {
        font: 13px 'Noto Sans JP';
    }

    .cardsGroup .card1 .img img,
    .cardsGroup .card3 .img img {
        width: 500px;
    }

    .cardsGroup .card2 .img img {
        width: 500px;
    }
}

@media (max-width: 850px) {
    .cardsGroup {
        padding: 20px 20px;
    }

    .cardsGroup .card1 .img img,
    .cardsGroup .card3 .img img {
        width: 450px;
    }

    .cardsGroup .card2 .img img {
        height: 100%;
    }
}

@media (max-width: 768px) {
    .cardsGroup .card1,
    .cardsGroup .card3,
    .cardsGroup .card2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 0;
        margin: 20px 0;
    }
    .cardsGroup .card .text {
        text-align: center;
        padding: 0;
    }
    .cardsGroup .card button {
        margin: 10px auto;
    }
    .cardsGroup .card1 .img img,
    .cardsGroup .card3 .img img {
        border-radius: 0;
        width: 80%;
    }
    .cardsGroup .card2 .img img {
        border-radius: 0;
        width: 80%;
    }
    .cardsGroup .card .img {
        text-align: center;
    }
}
@media (max-width: 425px) {
    .cardsGroup {
        padding: 10px 2px 0 2px;
    }
    .cardsGroup .text h2 {
        padding: 5px 0 5px 0;
    }
    
    .cardsGroup .text p {
        padding: 5px 0 5px 0;
    }
    .cardsGroup .card1 .img img,
    .cardsGroup .card3 .img img,
    .cardsGroup .card2 .img img {
        width: 100%;
    }
}