.cardsGroup2 {
    height: auto;
}
.cardsGroup2 h2 {
    text-align: center;
    color: var(--color-green);
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    padding: 10px 0 0 0;
}
.cardSection1and2 {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cardsGroup2 .cardSection1,
.cardsGroup2 .cardSection2 {
    display: flex;
    margin: 20px auto;
    text-align: center;
}


.cardsGroup2  .circleCard {
    max-width: 300px;
    padding: 0 20px ;
}
.cardsGroup2 img {
    min-height: 18vh;
    max-height: 22vh;
}

.cardsGroup2 .circleCard p {
    font-family: 'Noto Sans JP', sans-serif;
    letter-spacing: 0.3px;
    font-size: 15px;
}

.cardsGroup2 .cardSection1 .circleCard p {
    font-size: 13px;
}

.fixedImg {
    background-image: url(../img/fixedImg.png);
    background-size: cover;
    background-position: center;
    height: 9em;
    width: 100%;
}


@media (max-width: 800px) {
    .cardsGroup2 .cardSection1and2 {
        padding: 0;
    }
    .cardsGroup2  .circleCard {
        padding: 0 0;
        padding-top: 30px;
    }
    .cardsGroup2 .cardSection2 {
        margin: 0;
        flex-direction: column;
        align-items: center;
    }

    .cardsGroup2 .cardSection2 .circleCard p strong {
        display: block;
        max-width: 300px;
    }

    .cardsGroup2 img {
        min-height: 15vh;
        max-height: 18vh;
    }

}

@media (max-width: 1000px) {
    .cardsGroup2 .cardSection1 {
        flex-wrap: wrap;
        justify-content: center;
        width: 80%;
    }
    .cardsGroup2 .cardSection2 {
        margin-bottom: 10px;
    }
}