.firstSection {
    text-align: center;
    padding: 30px 80px;
    background-color: var(--color-gray2);
}
.firstSection h2 {
    max-width: 50%;
    margin: 0 auto;
    padding: 20px;
    color: var(--color-green);
    font-size: 30px;
}
.firstSection p {
    font: 16px 'Noto Sans JP'; 
    letter-spacing: 0.2px;
}
@media (max-width: 728px) {  
    .firstSection {
        padding: 0 10px;
    }
    .firstSection h2 {
        padding: 10px;
        font-size: 20px;
    }
    .firstSection p {
        font-size: 15px;
        letter-spacing: 0.5px;
        padding: 0 .5%;
    }
}
@media (min-width: 1500px) {
    .firstSection h2 {
        font-size: 40px;
    }
    .firstSection p {
        font-size: 22px;
    }
}
