.footer {
    background-color: var(--color-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 120px;
}
.divFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 120px;
    width: 100%;
}
.footer img {
    height: 50px;
    margin-left: 60px;
}
.footer .footerItems {
    margin: 0 100px;
    display: flex;
}
.footer .footerItem {
    margin: 0 10px;
    display: flex;
}
.footer .footerItem p {
    text-align: start;
    max-width: 200px;
    font: 0.9em sans-serif;
    padding: 5px 0 0 0;
    color: white;
}
.footer .footerItem img {
    height: 25px;
    padding: 0 5px 0 0;
}
@media (max-width: 1270px) {
    .footer .footerItems {
        margin: 0 10px;
        display: flex;
    }
    .footer .footerItem {
        margin: 0 5px;
        display: flex;
    }
    .footer .footerItem p {
        max-width: 150px;
        font: 0.8em sans-serif;
    }
}
@media (max-width: 1025px) {
    .footer img {
        height: 35px;
        margin-left: 20px;
    }
    .footer .footerItem p {
        font-size: 1.5vh;
    }
}
@media (max-width: 767px) {
    .footer {
        flex-direction: column;
    }
    .footer .logoFooter {
        margin: 20px 0;
    }
    .footer .footerItem {
        margin: 10px 0 10px 0;
    }
    .footer .footerItems {
        flex-direction: column;
        margin-bottom: 20px;
    }
}