
.go-top-container {
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    z-index: -1;
}
 
.go-top-button {
    width: 0rem;
    height: 0rem;
    background-color:rgb(54, 54, 56);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    border: 3px solid var(--color-green)
}
 
.go-top-button i {
    position: absolute;
    font-size: 1.3rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: var(--color-green);
    transition: 0.2s;
}
 
.show {
    z-index: 10;
}
 
.show .go-top-button {
    animation: popup .3s ease-in-out;
    width: 3.5rem;
    height: 3.5rem;
    z-index: 11;
}
 
.show i {
    transform: translate(-50%, -50%) scale(1);
}
 
@keyframes popup {
    0% {
        width: 0;
        height: 0;
    }
    50% {
        width: 4.5rem;
        height: 4.5rem;
    }
    100% {
        width: 3.5rem;
        height: 3.5rem;
    }
}
@media (min-width: 1440px) {
    .go-top-container {
        position: fixed;
        left: 80%;
        bottom: 50px;
        right: 70%;
    }
    .show .go-top-button {
        width: 45px;
        height: 45px;
    }
}