.lastSection {
    background-color: var(--color-green);
    height: 25vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.lastSection h2 {
    color: white;
    letter-spacing: 0.2px;
    font-size: 25px;
    font-family: 'Noto Sans JP', sans-serif;
}
.lastSection button {
    margin-top: 20px;
    border: 0;
    padding: 6px 25px;
    border-radius:  18px;
    color: var(--color-green);
    border: 2px solid var(--color-green);

}
.lastSection button:hover {
    color: var(--color-gray);
    border: 2px solid var(--color-gray);

}
@media (max-width: 767px) {
    .lastSection h2{
        padding-top: 5px;
        font-size: 20px;
    }
    .lastSection button {
        margin-top: 5px;
    }
}