.social {
    margin: 0 auto;
    width: 100%;
    --color-gray2: #C4C4C4;
    background-color: var(--color-gray);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.socialFlex {
    padding: 4px 0;
    width: 1440px;
    background-color: var(--color-gray);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.socialFlex a {
    display: flex;
    align-items: center;
    margin: 0 10px 0 0;
}

.social Img {
    height: 28px;
}

.social .magnifyingGlass {
    padding: 0px 6px 0px 76px;
    border-radius: 30px;
    border: 1px solid var(--color-gray2);
    position: relative;
    height: 28px;
    transform: scaleX(-1);
}

.social .divMagnifyingGlass{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.social .divMagnifyingGlass p {
    position: absolute;
    top: 13px;
    right: 35px;
    color: var(--color-gray2);
    font-size: 12px;
    letter-spacing: 1px;
}

@media (max-width: 400px) {
    .social {
        width: 100%;
    }

    .social Img {
        height: 16pxvh;
    }
    .socialFlex a {
        margin: 0 5px 0 0;
    }
    .social .magnifyingGlass {
        padding: 0px 6px 0px 56px;
    }
    .social .divMagnifyingGlass p {
        right: 20px;
        font-size: 10px;
        letter-spacing: .5px;
    }
}