.social {
    background-color: chocolate;
    display: flex;
    justify-content: center;
    height: 40px;
    margin: 0 auto;
}

.socialFlex {
    margin: 0 auto;
    max-width: 50%;
    background-color: var(--color-gray);
    display: flex;
    justify-content: flex-end;
}

.social Img {
    margin: 0 10px 0 0;
}

.social .magnifyingGlass {
    padding: 4px 75px 4px 6px;
    border-radius: 30px;
}

.social .divMagnifyingGlass {
    position: relative;
}

.social p {
    position: absolute;
    top: 9px;
    left: 40px;
    color: #fff;
    font-size: 14px;
}

@media (max-width: 400px) {
    .social {
        width: 100%;
    }

    .social Img {
        height: 2.5vh;
        margin-right: 0px;
    }
}